doctype html
html(lang="en")
head
meta(charset="UTF-8")
title Movie list
link(rel="stylesheet" href="/style.css")
body
table
thead
tr
th Id
th Title
th Year
th
th
tbody
tr
td 1
td Iron Man
td 2008
td
a(href="/movie/delete/1") delete
td
a(href="/movie/form/1") edit
a(href="/movie/form") new